<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Image Gallery</title>
	<link rel="stylesheet" href="file:///C:/Users/mis/Desktop/style.css">
</head>
<body>
	<header>
		<h1>Image Gallery</h1>
	</header>
	<div class="container">
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-1jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Taj Mahal-INDIA</h2>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-2jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Machu Picchu-PERU</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-3jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Christ the redeeemer-BRAZIL</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-4jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Colosseum-ITLY</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-5jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Great Wall of China-CHINA</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-6jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Chichen Ieza-MEXICO</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-7jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>Taj Mahal and Christ the Redeemer</h2>
				</div>
			</div></div>
		<div class="box">
			<div class="imgbox">
				<img src ="Image/image-8jfif300x300.jpg">
			</div>
			<div class="details">
				<div class="content">
					<h2>7 Wonders of the World</h2>
				</div>
			</div></div>
	</div>

</body>
</html>